
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<body class="dashboard">

<div id='container'>
	<div id='header'>
		<!-- Header section -->
		Django demo app
	</div>
	<div class='breadcrumbs'>
		<!-- Navigation link-->
		<a href="/polls/">Home</a>
	</div>


		{% if latest_question_list %}
	    	<ul>
	    		{% for question in latest_question_list %}
	        		<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
	    		{% endfor %}
	    	</ul>
		{% else %}
    		<p>No polls are available.</p>
		{% endif %}

	</div>

	<div id='footer'></div>
</div>

</body>


